<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="./scss/main.scss">
</head>
<body>
    <header class="header">
        <img class="logo" src="./images/logo.png" alt="">
    </header>
    <main>
        <h1>Regístrate gratis para escuchar</h1>
        <button>Facebook</button>
        <button>Google</button>
        <form action="" method="post">
            <label>Registrarte con tu correo electrónico</label>
            <div>
                <label for="email">¿Cuál es tu correo electrónico?</label>
                <input type="email" id="email" name="email" placeholder="Pon tu correo electrónico"/>
            </div>
            <div>
                <label for="email2">Confirma el correo electrónico</label>
                <input type="email" id="email2" name="email2" placeholder="Vuelve a poner tu correo electrónico"/>
            </div>
            <div>
                <label for="password">Crea una contraseña</label>
                <input type="password" id="password" name="password" placeholder="Crea una contraseña."/>
            </div>
            <div>
                <label for="nombre">¿Cómo quieres que te llamemos?</label>
                <input type="text" id="nombre" name="nombre" placeholder="Pon un nombre de perfil."/>
            </div>
            <label>Esto aparece en tu perfil</label>
            <label>¿Cuál es tu fecha de nacimiento?</label>
            <div>
                <label for="dia">Día</label>
                <input type="number" id="dia" name="dia" placeholder="DD" max="2"> 
            </div>
            <div>
                <label for="mes">Mes</label>
                <select name="mes" id="mes">
                    <option value="">Mes</option>
                    <option value="en">enero</option>
                    <option value="fe">febrero</option>
                    <option value="mar">marzo</option>
                    <option value="ab">abril</option>
                    <option value="may">mayo</option>
                    <option value="jun">junio</option>
                    <option value="jul">julio</option>
                    <option value="ag">agosto</option>
                    <option value="se">septiembre</option>
                    <option value="oc">octubre</option>
                    <option value="no">noviembre</option>
                </select>
            </div>
            <div>
                <label for="year">Año</label>
                <input type="number" id="year" name="year" placeholder="AAAA" max="4"> 
            </div>

            <label>¿Cuál es tu género?</label>
            <div>
                <input type="radio" name="hombre" id="hombre" value="hombre">
                <label for="hombre">Hombre</label>
            </div>
            <div>
                <input type="radio" name="mujer" id="mujer" value="mujer">
                <label for="mujer">Mujer</label>
            </div>
            <div>
                <input type="radio" name="no-binario" id="no-binario" value="no-binario">
                <label for="no-binario">No binario</label>
            </div>

            <div>
                <input type="checkbox">
            </div>


        </form>
    </main>
</body>
</html>