@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/section-blue';
@import 'layout/section-white';
@import 'layout/card-bootstrap';

:root{
    --roboto: "Roboto";/*modificado*/
    font-size: 62.5%;/*añadido*/
}

.main{
    width: 100%;
    font-family: var(--roboto);
}





